<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hesselbom_CmsTemplate>
            <version>0.0.1</version>
        </Hesselbom_CmsTemplate>
    </modules>
    <global>
        <resources>
            <cmstemplate_setup>
                <setup><module>Hesselbom_CmsTemplate</module></setup>
                <connection><use>core_setup</use></connection>
            </cmstemplate_setup>
        </resources>
        <blocks>
            <cmstemplate>
                <class>Hesselbom_CmsTemplate_Block</class>
            </cmstemplate>
        </blocks>
        <models>
            <cmstemplate>
                <class>Hesselbom_CmsTemplate_Model</class>
                <resourceModel>cmstemplate_mysql4</resourceModel>
            </cmstemplate>
            <cmstemplate_mysql4>
                <class>Hesselbom_CmsTemplate_Model_Mysql4</class>
                <entities>
                    <page>
                        <table>cmstemplate_page</table>
                    </page>
                    <page_data>
                        <table>cmstemplate_page_data</table>
                    </page_data>
                    <block>
                        <table>cmstemplate_block</table>
                    </block>
                    <block_data>
                        <table>cmstemplate_block_data</table>
                    </block_data>
                </entities>
            </cmstemplate_mysql4>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <cmstemplate>
                    <file>cmstemplate.xml</file>
                </cmstemplate>
            </updates>
        </layout>
        <events>
            <cms_page_save_before>
                <observers>
                    <cmstemplate_save_page_data>
                        <type>singleton</type>
                        <class>cmstemplate/observer</class>
                        <method>setCmsPageContent</method>
                    </cmstemplate_save_page_data>
                </observers>
            </cms_page_save_before>
            <cms_page_save_after>
                <observers>
                    <cmstemplate_save_page_template>
                        <type>singleton</type>
                        <class>cmstemplate/observer</class>
                        <method>saveCmsPageTemplate</method>
                    </cmstemplate_save_page_template>
                </observers>
            </cms_page_save_after>
        </events>
    </adminhtml>
</config>